@import "sidebarnav.css";

.dashboard{
    display: flex;
    width: 100%; 
    height: auto;

    .main{
        flex: 1;
        padding: 32px 40px;
        
        .page{
            animation: fideInPage .6s ease-in forwards;
            position: relative;

            h1{ font-size: var(--text-preset-1) }

            /* Caja genérica del contenido */
            .box{
                padding: 32px;
                background-color: var(--white);
                border-radius: 12px;
            }
        }
    }
}

@keyframes fideInPage {
    from{
        left: 100%;
        opacity: 0;
    }
    to{
        
        left: 0;
        opacity: 1;
    }
}