.budgets{
    /* Budget encabezado */
    .budget-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 53px;
        margin-bottom: 30px;

        .title{ margin: 0 !important }

        button:hover{
            color: #201F24 !important;
            background-color: #fff !important;
            border: 1px solid #201F24 !important;
        }
    }

    /* Budget Contenido */
    .budget-content{
        display: flex;
        gap: 20px;

        /* Lado izquierdo */
        .budget-leftSide{
            flex: .75;
            max-height: max-content;

            .budget-leftSide_chart{
                justify-items: center;
                margin-bottom: 32px;
            }

            .budget-leftSide_spendingSummary{
                .spendingSummary-title{ 
                    margin-bottom: 24px;
                    font-family: "PublicSans Bold";
                }

                .spendingSummary-details{
                    display: grid;
                    gap: 10px;
                }

                .spendingSummary-item{
                    div .amount{
                        margin-left: 4px;
                        font-family: "PublicSans Regular";
                        font-size: 11px; 
                        color: #686969;
                    }
                }
            }
        }

        /* Lado derecho */
        .budget-rightSide{
            flex: 1;
            display: grid;
            gap: 20px;

            .budget-rightSide_activeBudget{
                .activeBudget-header{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                }

                .activeBudget-amountBar{
                    margin-top: 10px;
                    
                    .amountBar-maximum{
                        font-size: 14px;
                        color: #686969;
                    }

                    .amountBar-spentAndFree{
                        display: flex;
                        margin-bottom: 16px;
                        padding-left: 5px;
                        

                        .info-box{ flex: 1 }
                    }
                }

                .activeBudget-latestSpending{
                    padding: 20px;
                    background-color: #F8F4F0;
                    border-radius: 12px;

                    div{
                        margin-bottom: 10px;

                        h3{
                            font-family: "PublicSans Bold";
                            font-size: 16px;
                            color: #201F24;
                        }
                    }

                    .latestSpending-list{
                        li{
                            padding-block: 8px;
                            border-bottom: none !important;
                            &:not(:first-child){ border-top: 1px solid #686969 }

                            div{
                                gap: 10px !important;
                                margin: 0;
                                font-size: 12.5px;

                                img{
                                    width: 32px !important;
                                    height: 32px !important;
                                }
                            }
                            
                            div:last-child > time{ font-family: "PublicSans Regular" }
                        }
                    }
                }
            }
        }
    }
}